.ul-transactionsList{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    padding-top: 0px;
    border-radius: 25px;
    /* border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; */
    margin-top : 30px;
    background-color: #ffffff;
    margin-bottom: 0px;
}



.heading-list{
    display: flex;
    margin: 0px;
    align-items: center;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #e3e0d8;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 10px;
    padding-left: 0px;
}

.all-items-list{
    display: flex;
    margin: 0px;
    align-items: center;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #e3e0d8;
}

.transaction-name-container{
    display: flex;
    width: 400px;
    align-items: center;
}



.teaxt-transaction-name{
    font-family: Sans-serif;
    font-size: 16px;
    color: #343C6A; 
    font-weight: bold;
}

.profile-list-transaction{
    height: 30px;
    width: 30px;
    border-radius: 100px;
    margin-right: 8px;
    margin-left: 10px;
    align-self: center;
}

.icon-transaction-name{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: #718EBF;
}


.Category-text{
    font-family: Sans-serif;
    font-size: 16px;
    color: #343C6A;
    width: 150px;  
    font-weight: bold; 
}


.date-text{
    font-family: Sans-serif;
    font-size: 16px;
    color: #343C6A;
    width: 200px;   
    font-weight: bold;
}

.amount-text{
    font-family: Sans-serif;
    font-size: 16px;
    color: #343C6A;
    width: 150px;   
    font-weight: bold;
}

.edit-icon{
    width: 20px;
    height: 20px;
    color: #2D60FF;
    margin-right: 30px; 
    cursor: pointer;
}

.delete-icon{
    width: 20px;
    height: 20px;
    color: #FE5C73;
    cursor: pointer;
}

.all-list-items-color{
    color: #505887;
    font-weight: normal;
}
.credit-color{
    color: #16DBAA;
    font-weight: normal;
}

.debit-color{
    color: #FE5C73;
    font-weight: normal;
}


.popup-content{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0e11;
    opacity: 0.9;
}

.PopupContainer-transactions{
  background-color: #ffffff;
  height: 200px;
  width: 570px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  
}

.popup-icon{
    width: 32px;
    height: 32px;
    margin-right: 0px;
    align-self: flex-start;
    margin-top: 40px;
}

.right-container-of-popup{
    display: flex;
    flex-direction: column;
}

.cancel-icon-container{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.cancel-icon{
    width: 24px;
    height: 24px;
}

.paragraph-popup{
    font-family: Sans-serif;
    font-size: 14px;
    color: #505887;
    margin-bottom: 25px;
    
}

.HeadingPopup{
  font-family: Sans-serif;
  font-size: 20px;
  color: '#333B69';
  margin-bottom: 0px;
  margin-right: 15px;
}

.ButtonsContainer{
  display: flex;
}

.ButtonPopup{
  width: 100px;
  height: 36px;
  border-width: 0px;
  border-radius: 8px;
  display: flex;
  background-color: #DC2626;
  justify-content: center;
  align-items: center;
  font-family: Sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  
  
}

.ButtonConfirm{
  width: 100px;
  height: 36px;
  border:1px solid gray;
  border-radius: 8px;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  font-family: Sans-serif;
  font-size: 14px;
  color: #000000;
  margin-right: 40px;
  font-weight: bold;
  cursor: pointer;
}