.bg-container-Dashboard{
    display: flex;
    height: 100vh;
    justify-content: space-between;
}
.content-display-container{
    background-color: #F5F7FA;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    width: 100%;
}

.container-of-ul{
    height: 82vh;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-of-ul::-webkit-scrollbar {
    display: none;
  }

  .Last-Trasaction-text{
    font-family: Sans-serif;
    font-size: 22px;
    color: #333B69;
    align-self: flex-start;
    margin-bottom: 0px;
    margin-left: 60px;
  }

.barchart-text{
    font-family: Sans-serif;
    font-size: 22px;
    color: #333B69;
    align-self: flex-start;
    margin-bottom: 50px;
    margin-left: 60px;
    margin-top: 30px;
}